---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import SearchBar from "@/components/SearchBar.astro";

const word = Astro.url.searchParams.get("word");
---

<DefaultLayout>
	<div class="pt-12">
		<h1 class="text-center">Trailine</h1>
		<SearchBar />
	</div>
</DefaultLayout>